@font-face {
    font-family: 'AdiHaus';
    src: URL('https://assets.codepen.io/6060109/adihaus_regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "AdiHaus";
    src: url("https://assets.codepen.io/6060109/adihaus_bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

body,html {
    min-width: 100%;
    min-height: 100vh;
    margin: 0;
    font-family: AdiHaus;
}

#all-container {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

#addidas-image {
    margin: 15px auto;
    display:block;
}

#main-image-mobile {
    background-color:cadetblue;
    background: url(https://assets.codepen.io/6060109/mobile-shoes.jpg) no-repeat right center;
    width: 100%;
    height: 300px;
    background-size: 100% auto;
}

#text-contents {
    width: 100%;
}

h2 {
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 5px;
    line-height: 42px;
    margin-top:30px;
    font-weight: 700;
    color: #423A3A;
    margin: 15px;
}

body {
    display: flex;
}

p {
    line-height: 28px;
    margin-top: 30px;
    color: #333333;
}

h2.blue-text {
    color: #2F80ED;
    font-weight: 400;
}

.black-text {
    color: #423A3A;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px; /* 104.167% */
    letter-spacing: 5px;
    margin-top: 15px;
    margin-bottom: 0;
}

.all-contents {
    padding: 30px 60px;
}

.submit-form {
    display:flex;
    justify-content: center;
}

#email {
    border-radius: 3px;
    border: 1px solid var(--Gray-1, #333);
    opacity: 0.5;
    width: 311px;
    height: 48px;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 0 20px;
}

#submit {
    width: 64px;
    color: white;
    font-size: 17;
    height: 48px;
    flex-shrink: 0;
    border-radius: 3px;
    background: rgb(124,124,124);
    background: linear-gradient(90deg, rgba(124,124,124,1) 0%, rgba(124,124,124,1) 35%, rgba(43,40,40,1) 100%);
    box-shadow: 0px 15px 20px 0px rgba(66, 58, 58, 0.15);
    box-sizing: border-box;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #main-image-mobile {
        display: none;
    }

    body {
        background: url('https://assets.codepen.io/6060109/waves.png');
        background-size: cover;
    }

    #all-container {
        text-align: left;
        margin-left: 40px;
        margin-right: 120px;
        width: 50%;
    }

    #addidas-image {
        margin: 60px 65px 100px;
        display:block;
    }

    .desktop-image {
        display: block;
        width: 50%;
        max-width: 100%;
        height: auto;
        background-image: url('https://assets.codepen.io/6060109/shoes.png');
        background-size: cover;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        margin-left: 400px;
    }

    h2 {
        margin-left: 0;
        font-size: 64px;
        margin: 40px;
        margin-left: 0;
    }

    p {
        font-size: 16px;
    }

    #submit {
        width: 100px;
        height: 56px;
        flex-shrink: 0;
        font-size: 30px;
    }

    #email {
        height: 56px;
        margin-left: 70px;
        width: 350px;
    }
} 